---
---

@import "{{ site.theme }}";


.sidebar {
  background: #fdd; /* rouge clair */
}

section {
  background: #def; /* bleu clair */
}


.wrapper {
  width: 950px; /* ou + selon confort de lecture */
}

section {
  width: 650px;
}

.sidebar {
  width: 280px;  /* ou 280px selon ton goût */
}

.sidebar header img.img-circle {
  max-height: 100px;
}

.sidebar header h1 {
  margin-bottom: 0.25rem;
  line-height: 1.1;
}

.sidebar-footer {
  display: none !important;
}
