---
---

@import "{{ site.theme }}";


.wrapper {
  width: 950px; /* ou + selon confort de lecture */
}

section {
  width: 650px;
}

body {
  padding: 30px 50px 50px 50px;
}


.sidebar {
  padding: 20px 0 50px 0;
  width: 280px;  /* ou 280px selon ton goût */
}

.sidebar h1,
.sidebar img.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sidebar h1 {
  margin-bottom: 0.25rem;
  line-height: 1.1;
  text-align: center;
}



.sidebar header img.img-circle {
  max-height: 100px;
}


.sidebar-footer {
  display: none !important;
}
