---
---

@import "{{ site.theme }}";


.sidebar {
  background: #fdd; /* rouge clair */
}

.main {
  background: #def; /* bleu clair */
}

.main {
  margin-left: 300px !important;
}


.sidebar {
  width: 320px;  /* ou 280px selon ton goût */
}

.sidebar header img.img-circle {
  max-height: 100px;
}

.sidebar header h1 {
  margin-bottom: 0.25rem;
  line-height: 1.1;
}
